.profile__description {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    margin: 22px auto 25px 26px;
}

@media screen and (max-width: 1170px) {
    .profile__description {
        max-width: 380px;
    }
}

@media screen and (max-width: 960px) {
    .profile__description {
        max-width: 350px;
    }
}

@media screen and (max-width: 700px) {
    .profile__description {
        margin: 0 auto 36px auto;
        justify-content: center;
    }
}

@media screen and (max-width: 460px) {
    .profile__description {
        max-width: 300px;
    }
}

@media screen and (max-width: 400px) {
    .profile__description {
        max-width: 250px;
    }
}