.popup {
    display: flex;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: visibility 200ms, opacity 200ms linear;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    }

.popup:before {
    content: '';
    position: absolute;
    width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: black;
    opacity: 0.5;
}